nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-size: 16px;
  justify-content: space-around;
  background: var(--white);
  height: 8vh;
  width: 100%;

  .left, .right {
    display: flex;
    align-items: center;
  }

  .left {
    justify-content: space-evenly;
  }

  .right {
    display: flex;
    justify-content: space-evenly;

    .bag {
      .info-cart {
        color: var(--white);
        font-weight: 700;
        border-radius: 50px;
        font-size: 0.8rem;
        text-align: center;
        background: var(--orange);
      }
    }
  }

  .logo {
    img {
      height: 2vh;
    }
  }

  .profile {
    img {
      width: 8vw;
    }
  }
}

@media screen and (max-width: 426px){
  .mobile {
    visibility: visible;
    width: 100%;

    .cont {
      background: var(--white);
      position: absolute;
      z-index: 2;
      overflow-y: hidden;
      max-height: 100vh;
      max-width: 60vw;

      width: 60vw;
      height: 100vh;
    }

  }

  .desktop {
    visibility: hidden;
  }
}

@media screen and (min-width: 427px){
  .mobile {
    visibility: hidden;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr;
  }

  .desktop {
    visibility: visible;
    width: 100vw;
    overflow: hidden;
    height: 10vh;

    .content {
      display: grid;
      grid-template-columns: 2fr 0.8fr;
      justify-content: space-around;
      width: 90%;
      align-items: center;
      padding: 0 5%;
      height: inherit;

      .icon {

      }

      .left {
        display: grid;
        grid-template-columns: 0.3fr 0.5fr;
        height: inherit;
        justify-content: flex-start;
        align-items: center;
        text-align: center;

        nav {
          height: inherit;

          article {
            height: inherit;

            .navbar {
              height: inherit;
              width: inherit;
              display: grid;
              grid-template-columns: repeat(5, 1fr);
              text-align: center;

              .nav-item {
                display: inherit;
                height: inherit;
                align-items: center;
                grid-template-rows: 1fr 0.05fr;
              }

              .nav-item:hover {
                cursor: pointer;

                div {
                  height: 100%;
                  background-color: var(--orange);
                }
              }
            }
          }
        }
      }

      .right {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .profile {
          img {
            width: 3vw;
          }

          img:hover {
            border: var(--orange) solid 2px;
            border-radius: 50px;
          }
        }
      }
    }
  }
}
