nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-size: 16px;
  justify-content: space-around;
  background: var(--white);
  height: 8vh;
  width: 100vw;

  .left, .right {
    display: flex;
    align-items: center;
  }

  .left {
    justify-content: space-evenly;
  }

  .right {
    display: flex;
    justify-content: space-evenly;
  }

  .logo {
    img {
      height: 2vh;
    }
  }

  .profile {
    img {
      width: 8vw;
    }
  }
}
