<nav class="mobile">
  <div class="left">
    <div class="menu" (click)="changeHamburguerMenu()">
      <img [hidden]="showHamburguerMenu()" src="{{ CONSTANTES.ICON_HAMBURGUER_MENU }}" alt="menu">
      <img [hidden]="!showHamburguerMenu()" src="{{ CONSTANTES.ICON_CLOSE_MENU_HAMBURGUER }}" alt="menu">
      <div class="cont" [ngClass]="{ 'show-hamburguer-menu' : menuIsOpen}">
        <app-hamburguer-menu></app-hamburguer-menu>
      </div>
    </div>

    <div class="logo">
      <img src="{{ CONSTANTES.IMAGE_LOGO }}" alt="">
    </div>
  </div>

  <div class="right">
    <div class="bag" (click)="showCart()">
      <div class="info-cart" *ngIf="dataCart">
        <label *ngIf="dataCart.numItens !== 0"> {{ dataCart.numItens }} </label>
      </div>
      <img src="{{ CONSTANTES.ICON_CART }}" alt="bag">
    </div>

    <div class="profile">
      <img src="{{ CONSTANTES.IMAGE_AVATAR }}" alt="profile">
    </div>
  </div>
</nav>

<nav class="desktop">
  <div class="content">
    <div class="left">

      <div class="icon">
        <img src="{{ CONSTANTES.IMAGE_LOGO }}" alt="">
      </div>
      <nav>
        <article>
          <ul class="navbar">
            <li class="nav-item active">
              <a class="nav-link"> Collections</a>
              <div></div>
            </li>
            <li class="nav-item">
              <a class="nav-link">Men</a>
              <div></div>
            </li>
            <li class="nav-item">
              <a class="nav-link">Women</a>
              <div></div>
            </li>
            <li class="nav-item">
              <a class="nav-link">About</a>
              <div></div>
            </li>
            <li class="nav-item">
              <a class="nav-link">Contact</a>
              <div></div>
            </li>
          </ul>
        </article>
      </nav>
    </div>

    <div class="right">
      <div class="bag" (click)="showCart()">
        <div class="info-cart" *ngIf="dataCart">
          <label *ngIf="dataCart.numItens !== 0"> {{ dataCart.numItens }} </label>
        </div>
        <img src="{{ CONSTANTES.ICON_CART }}" alt="bag">
      </div>

      <div class="profile">
        <img src="{{ CONSTANTES.IMAGE_AVATAR }}" alt="profile">
      </div>
    </div>
  </div>
</nav>
