<nav class="mobile">
  <div class="left">
    <div class="menu" (click)="changeHamburguerMenu()">
      <img src="{{ CONSTANTES.ICON_HAMBURGUER_MENU }}" alt="menu">
      <div class="cont" [ngClass]="{ 'show-hamburguer-menu' : menuIsOpen}">
        <app-hamburguer-menu></app-hamburguer-menu>
      </div>
    </div>

    <div class="logo">
      <img src="{{ CONSTANTES.IMAGE_LOGO }}" alt="">
    </div>
  </div>

  <div class="right">
    <div class="bag">
      <img src="{{ CONSTANTES.ICON_CART }}" alt="bag">
    </div>

    <div class="profile">
      <img src="{{ CONSTANTES.IMAGE_AVATAR }}" alt="profile">
    </div>
  </div>
</nav>

<nav class="deskotop">

</nav>
