<section
  [ngClass]="dataCard.header.toLocaleLowerCase().includes('transform') ?
      'invert' :
      ''"
  class="content no-image"
  *ngIf="dataCard.image === undefined || dataCard.image === '' || dataCard.isCard;
  else cardImage"
>
  <figure
    *ngIf="dataCard.image !== undefined && dataCard.image !== ''"
  >
    <img src="{{ dataCard.image }}" alt="">
  </figure>

  <section class="data">
    <h1>
      {{ dataCard.header }}
    </h1>

    <p>
      {{ dataCard.description }}
    </p>

    <div class="link">
      <a href="{{ dataCard.link }}">
        {{ dataCard.textLink }}
      </a>
      <div
        [ngClass]="dataCard.header.toLocaleLowerCase().includes('transform') ?
      'background-yellow' :
      'background-pink'"
      ></div>
    </div>
  </section>
</section>

<ng-template #cardImage>
  <section class="content image">
    <figure>
      <img src="{{ dataCard.image }}" alt="">
    </figure>

    <section class="data">
      <h3>
        {{ dataCard.header }}
      </h3>

      <p>
        {{ dataCard.description }}
      </p>
    </section>
  </section>
</ng-template>
