<section
  [ngClass]="dataCard.header.toLocaleLowerCase().includes('transform') ?
      'invert' :
      ''"
  class="content no-image"
  *ngIf="
  dataCard.images === undefined ||
  dataCard.images.length === 0 ||
  (dataCard.images[0] === '' && dataCard.images[1] === '') ||
  dataCard.isCard;
  else cardImage"
>
  <figure
    *ngIf="dataCard.images === undefined || (dataCard.images[0] !== '' && dataCard.images[1] !== '')"
  >
    <img
      class="mobile"
      src="{{ dataCard.images[0] }}"
      alt="">

    <img
      class="desktop"
      src="{{ dataCard.images[1] }}"
      alt="">
  </figure>

  <section class="data">
    <h1>
      {{ dataCard.header }}
    </h1>

    <p>
      {{ dataCard.description }}
    </p>

    <div class="link">
      <a href="{{ dataCard.link }}">
        {{ dataCard.textLink }}
      </a>
      <div
        [ngClass]="dataCard.header.toLocaleLowerCase().includes('transform') ?
      'background-yellow' :
      'background-pink'"
      ></div>
    </div>
  </section>
</section>

<ng-template #cardImage>
  <section class="content image">
    <figure>
      <img
        src="{{ dataCard.images[0] }}"
        alt=""
        class="mobile"
      >
      <img
        src="{{ dataCard.images[1] }}"
        alt=""
        class="destop"
      >
    </figure>

    <section class="data">
      <h3>
        {{ dataCard.header }}
      </h3>

      <p>
        {{ dataCard.description }}
      </p>
    </section>
  </section>
</ng-template>
