<app-header></app-header>
<main>
  <div class="cards">
    <div class="data">
      <app-card
        *ngFor="let card of arrayDataPage"
        [dataCard]="card">
      </app-card>
    </div>

    <div class="image">
      <app-card
        *ngFor="let card of arrayImageData"
        [dataCard]="card">
      </app-card>
    </div>
  </div>

  <section class="container-depoiment">
    <h3>
      Client testimonials
    </h3>
    <div class="depoiment">
      <app-depoiment
        *ngFor="let depoiment of arrayDepoiments"
        [depoiment]="depoiment">
      </app-depoiment>
    </div>
  </section>

  <section class="images">
    <figure
      *ngFor="let image of arrayImageSectionMobile"
      class="mobile"
    >
      <img src="{{ image }}" alt="">
    </figure>

    <figure
      *ngFor="let image of arrayImageSectionDesktop"
      class="desktop"
    >
      <img src="{{ image }}" alt="">
    </figure>
  </section>
</main>
<app-footer></app-footer>

<!--<div class="attribution">-->
<!--  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.-->
<!--  Coded by <a href="#">Your Name Here</a>.-->
<!--</div>-->
