main {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  padding-top: 120%;
  display: grid;

  app-card {
    height: 40%;
    width: 100%;
  }

  section {
  h3 {
    text-align: center;
    color: var(--very-dark-grayish-blue);
    letter-spacing: 4px;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    padding-bottom: 5%;
  }
  }
}
