<app-header></app-header>
<main>
  <app-card
    *ngFor="let card of arrayDataPage"
    [dataCard]="card">
  </app-card>
  <figure>
    <img src="COPO_ROSA" alt="">
  </figure>

  <section>
    <h3>
      Client testimonials
    </h3>

    <app-depoiment
      *ngFor="let depoiment of arrayDepoiments"
      [depoiment]="depoiment">
    </app-depoiment>
  </section>

  <section>
    <figure *ngFor="let image of arrayImageSection">
      <img src="{{ image }}" alt="">
    </figure>
  </section>

  <footer>
    <nav>
      <ul>
        <li>
          About
        </li>
        <li>
          Services
        </li>
        <li>
          Projects
        </li>
        <li>
          Contact
        </li>
      </ul>
    </nav>
  </footer>
</main>

<!--<div class="attribution">-->
<!--  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.-->
<!--  Coded by <a href="#">Your Name Here</a>.-->
<!--</div>-->
