<div class="content">
  <div class="action preveius" (click)="preveiusImage()">
    <img src="{{ CONSTANTES.ICON_PREVEIUS }}" alt="preveius">
  </div>
  <div class="product">
    <div class="slides fade">
<!--      <img src="{{ showImageProduct() }}" alt="image">-->
      <img
        *ngFor="let image of images;
        let index = index"
        id="{{ index }}"
        src="{{ image }}"
        class=""
        [ngClass]="image === showImageProduct() ? 'active' : 'no-show'"
      >
    </div>
  </div>
  <div class="action next" (click)="nextImage()">
    <img src="{{ CONSTANTES.ICON_NEXT }}" alt="next">
  </div>
</div>
