@media screen and (max-width: 427px){
  .mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    height: 100%;
    width: 100%;
    max-width: 100%;


    .action {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 50px;
      width: 12vw;
      height: 5vh;
      position: relative;
      z-index: 1;
      margin: 0 5%;
    }

    .product {
      position: absolute;
      z-index: 0;

      .slides {
        display: flex;

        img {
          width: 100%;
        }
      }

    }
  }

  .desktop {
    display: none;
    visibility: hidden;
  }

  .active {
    right: 0;
    transition-timing-function: ease-in-out;
    display: block;
  }

  .no-show {
    right: -60%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    display: none;
  }
}

@media screen and (min-width: 427px) {
  .mobile {
    visibility: hidden;
    display: none;
  }

  .desktop {
    visibility: visible;
  }

  .desktop {
    display: grid;
    width: 100%;
    height: 70%;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    justify-content: center;

    .main-image {
      width: inherit;
      height: 70%;
      align-items: center;
      justify-content: center;
      display: flex;

      img {
        width: 55%;
        border-radius: 5%;
      }
    }

    .images {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;

      img {
        width: 12%;
        border-radius: 10%;
        margin-right: 2%;
      }

      img:hover {
        border: var(--orange) solid 2px;
      }
    }
  }
}

.active-image {
  opacity: 50%;
  background-color: white;
  border: var(--orange) solid 2px;
}
