<div class="content">
  <div class="mobile">
    <figure class="action preveius" (click)="preveiusImage()">
      <img src="{{ CONSTANTES.ICON_PREVEIUS }}" alt="preveius">
    </figure>
    <div class="product">
      <figure class="slides fade">
        <img
          *ngFor="let image of images;
          let index = index"
          id="{{ index }}"
          src="{{ image }}"
          class=""
          [ngClass]="image === showImageProduct() ? 'active' : 'no-show'"
        >
      </figure>
    </div>
    <figure class="action next" (click)="nextImage()">
      <img src="{{ CONSTANTES.ICON_NEXT }}" alt="next">
    </figure>
  </div>

  <div class="desktop">
    <div class="main-image">
      <img src="{{ showImageProduct() }}" alt="">
    </div>

    <figure class="images">
      <img
        *ngFor="let image of images;
        let index = index"
        src="{{ image }}"
        alt="{{ index }}"
        (click)="changeIndex(index)"
        [ngClass]="getIndex() === index ? 'active-image' : ''"
      >
    </figure>
  </div>
</div>
