<footer>
  <nav class="content">
    <figure class="logo">
      <img src="{{ CONSTANTES.LOGO }}" alt="">
    </figure>
    <nav>
      <ul>
        <li>
          About
        </li>
        <li>
          Services
        </li>
        <li>
          Projects
        </li>
      </ul>
    </nav>

    <nav class="social-medias">
      <ul>
        <li>
          <figure>
            <a href="">
              <img src="{{ CONSTANTES.FACEBOOK }}" alt="">
            </a>
          </figure>
        </li>
        <li>
          <figure>
            <a href="">
              <img src="{{ CONSTANTES.INSTAGRAM }}" alt="">
            </a>
          </figure>
        </li>
        <li>
          <figure>
            <a href="">
              <img src="{{ CONSTANTES.TWITTER }}" alt="">
            </a>
          </figure>
        </li>
        <li>
          <figure>
            <a href="">
              <img src="{{ CONSTANTES.PINTEREST }}" alt="">
            </a>
          </figure>
        </li>
      </ul>
    </nav>
  </nav>
</footer>
