<div class="container">
  <form action="" method="post">

    <div class="number">
      Card Number
      <input type="number" name="" id="">
    </div>

    <div class="holders">
      Card Holders
      <input type="number" name="" id="">
    </div>

    <div class="expire">
      <label>Expiration Date</label>
      <div class="content">
        <div class="date-inpt">
          <div class="month">
            <select>
              <option>Month</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </div>

          <div class="year">
            <select>
              <option>Year</option>
              <option>2021</option>
              <option>2022</option>
              <option>2023</option>
              <option>2024</option>
              <option>2025</option>
              <option>2026</option>
              <option>2027</option>
              <option>2028</option>
              <option>2029</option>
              <option>2030</option>
              <option>2031</option>
              <option>2032</option>
            </select>
          </div>

          <div class="valid-number">
            CVV
            <input type="number" name="" id="">
          </div>
        </div>
      </div>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
