<section class="content mobile">
  <nav class="actions">
    <figure class="logo">
      <img src="{{ CONSTANTES.LOGO }}" alt="logo">
    </figure>

    <figure class="menu">
      <img src="{{ CONSTANTES.HAMBURGUER_MENU }}" alt="menu hamburguer">
    </figure>
  </nav>

  <figure class="background-image">
    <div class="container">
      <p>
        WE ARE CREATIVES
      </p>

      <figure class="arrow">
        <img src="{{ CONSTANTES.ARROW_DOWN }}" alt="">
      </figure>
    </div>

    <img src="{{ CONSTANTES.HEADER_IMAGE }}" alt="background image">
  </figure>
</section>

<section class="content desktop">
  <section class="head">
    <figure class="logo">
      <img src="{{ CONSTANTES.LOGO }}" alt="">
    </figure>
    <nav>
      <ul>
        <li>
          About
        </li>
        <li>
          Services
        </li>
        <li>
          Projects
        </li>
        <li>
          Contact
        </li>
      </ul>
    </nav>
  </section>

  <figure class="background-image">
    <div class="container">
      <p>
        WE ARE CREATIVES
      </p>

      <figure class="arrow">
        <img src="{{ CONSTANTES.ARROW_DOWN }}" alt="">
      </figure>
    </div>

    <img src="{{ CONSTANTES.HEADER_IMAGE }}" alt="background image">
  </figure>
</section>
