.content {
  overflow: hidden;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;

  header {
    app-header {
      width: 100%;
      max-width: 80%;
      position: absolute;
      z-index: 2;
    }
  }

  nav {
    display: flex;
    justify-content: center;

    app-modal-cart {
      margin-top: 20%;
      position: absolute;
      z-index: 1;
      height: 30vh;
      width: 95vw;
    }
  }
}
