<div class="content">
  <header>
    <app-header
      [dataCart]="dataCartItens"
      (isShowCart)="showingCart($event)"
    >
    </app-header>
  </header>

  <main>
    <app-card-item
      (itensCart)="getItensCart($event)"
    >
    </app-card-item>
    <app-modal-cart
      class="cont-cart"
      [ngClass]="{ 'show-cart' : cartShowing}"
      (clearCart)="clearCart($event)"
      [dataCart]="dataCartItens"
      >
    </app-modal-cart>
  </main>
</div>


<!--<div class="attribution">-->
<!--  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.-->
<!--  Coded by <a href="#">Lucas Jesus</a>.-->
<!--</div>-->
