<nav class="content">

  <div class="carrousel">
    <app-carrousel></app-carrousel>
    <button><</button>
    <button>></button>
  </div>

  Sneaker Company

  <section>
    <header>
      Fall Limited Edition Sneakers
    </header>

    <div class="description">
      These low-profile sneakers are your perfect casual wear companion. Featuring a
      durable rubber outer sole, they’ll withstand everything the weather can offer.
    </div>

    <div class="price">
      <label class="value">$125.00</label>
      <label class="discount">50%</label>
      <label class="old-price">$250.00</label>
    </div>

    <div class="unit">
      <div class="container">
        <button>-</button>
        <label>0</label>
        <button>+</button>
      </div>
    </div>

    <button>Add to cart</button>
  </section>
</nav>
