<nav class="content">
  <div class="carrousel">
    <app-carrousel></app-carrousel>
  </div>

  <section class="container">
    <label class="up-title">{{ cardItem.company }}</label>

    <header class="title">
      {{ cardItem.productName }}
    </header>

    <div class="description">
      {{ cardItem.description }}
    </div>

    <div class="price">
      <div class="value">
        {{ cardItem.price | currency }}
      </div>
      <div class="discount" *ngIf="cardItem.descount !== null || cardItem.descount !== 0">
        {{ cardItem.descount }}%
      </div>
      <div class="old-price" *ngIf="cardItem.oldPrice !== null || cardItem.oldPrice !== 0">
        {{ cardItem.oldPrice | currency }}
      </div>
    </div>

    <div class="actions">
      <div class="unit">
        <div class="menus" (click)="removeItem()">
          <img src="{{ CONSTANTES.ICON_MENUS }}" alt="">
        </div>
        <div class="value">
          {{ getNumItens() }}
        </div>
        <div class="plus" (click)="addItem()">
          <img src="{{ CONSTANTES.ICON_PLUS }}" alt="">
        </div>
      </div>

      <div class="add" (click)="addToCart()">
        <img src="{{ CONSTANTES.ICON_CART }}" alt="">
        Add to cart
      </div>
    </div>
  </section>
</nav>
