<article class="content">
  <section class="carrousel">
    <app-carrousel></app-carrousel>
  </section>

  <section class="container">
    <h4 class="up-title">{{ cardItem.company }}</h4>

    <h2 class="title">
      {{ cardItem.productName }}
    </h2>

    <p class="description">
      {{ cardItem.description }}
    </p>

    <aside class="price">
      <label class="value">
        {{ cardItem.price | currency }}
      </label>
      <label class="discount" *ngIf="cardItem.descount !== null || cardItem.descount !== 0">
        {{ cardItem.descount }}%
      </label>
      <label class="old-price" *ngIf="cardItem.oldPrice !== null || cardItem.oldPrice !== 0">
        {{ cardItem.oldPrice | currency }}
      </label>
    </aside>

    <div class="actions">
      <div class="unit">
        <figure class="menus" (click)="removeItem()">
          <img src="{{ CONSTANTES.ICON_MENUS }}" alt="">
        </figure>
        <div class="value">
          {{ getNumItens() }}
        </div>
        <figure class="plus" (click)="addItem()">
          <img src="{{ CONSTANTES.ICON_PLUS }}" alt="">
        </figure>
      </div>

      <figure class="add" (click)="addToCart()">
        <img src="{{ CONSTANTES.ICON_CART }}" alt="">
        Add to cart
      </figure>
    </div>
  </section>
</article>
