html, body {
    font-family: 'Karla', sans-serif;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    background-color: #e0eaf2;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 5%;
}

.content {
    padding: 5%;
    width: 35vw;
    margin: auto auto;
}

.top-side, .bottom-side, .bottom-side .right-side {
    border-radius: 10px;
}

.content .top-side {
    background: #fff;
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #ccc;
    padding: 5%;
}

.content .title {
    color: hsl(179deg 62% 43%);
    font-weight: 700;
    font-size: 1.3rem;
}

.content .sub-title {
    color: hsl(71deg 73% 54%);
    font-weight: 600;
    font-size: 1.1rem;
}
.content .bottom-side {
    display: flex;
    background: #2ab2af;
    color: #fff;
    justify-content: space-between;
}

.left-side button {
    background: #c0df34;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}

.bottom-side .right-side {
    background-color: #55c1bf;
    line-height: normal;
}

.description {
    color:  #fff;
    opacity: 50%;
    font-weight: 400;
}

.price-value {
    opacity: 100%;
    font-size: 1.7rem;
    color: #fff;
    font-weight: 600;
}

.left-side .text {
    opacity: 80%;
    padding-bottom: 5%;
}

.left-side {
    justify-content: space-around;
}

.left-side button {
    height: 20%;
}

.bottom-side .left-side, .bottom-side .right-side {
    display: flex;
    flex-direction: column;
    text-align: inherit;
    width: 100%;
    padding: 5%;
    line-height: 1.5;
}